@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Lato&display=swap');

*{
    box-sizing: border-box;
}
body{
    font-family: 'Lato', sans-serif;
}
nav{
    background-color: #9376e0;
}
.nav-container{

    min-height: 50px;
    display: flex;
    align-items: center;
    max-width: 1400px;
    margin: 0 auto;
    
}
.logo-container{

    display: flex;
    width: 50%;
}

.logo-container img{

    width: 50px;
    object-fit:cover;
    margin-right: 20px;
}
.logo-container p{
    font-size: 30px;
  
}

.hive{
    color: #e893cf;
}

.nav-item-container{

    width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.nav-item-container a{
    text-decoration: none;
    font-size: 25px;
    color: white;
}

.nav-item-container .login-btn{
    background-color: #e893cf;
    padding: 10px 20px;
    font-weight: 700;
    border-radius: 5px;
    color: black;
    text-align: center;
    
}

/* banner section */
.banner-container{
    background-color:darkgray;
    /* border: 1px solid red; */
    margin: 50px auto 0;
    max-width: 1450px;
    min-height: 50px;
    display: flex;
    border-radius: 5px;


}
.banner-text{
    /* border: 1px solid salmon; */
    width: 50%;
    
}
.banner-img{
    /* border: 1px solid salmon; */
    width: 50%;
    padding: 10px;
   

}
.banner-img img{
    width:100%;
    /* height: 100%; */
    height: auto;
    border-radius: 5px;
    
}
.banner-text h1{
    background-image: linear-gradient(to bottom,red,blue);
    color: transparent;
    -webkit-background-clip:text;
    font-size: 50px;

}
.banner-text p{
    font-size: 45px;
    font-family:  
}
.social-link{
    margin-bottom: 50px;
}
.banner-text{
    text-align: center;
}
.btn{
    padding: 10px;
}






/* responsive */
@media screen and (max-width:576px) {
    .nav-container,
    .nav-item-container,
    .banner-container
    {
        flex-direction: column;
    }
    .nav-item-container{
        width: 100%;
    }

    .nav-item-container .login-btn{
        width: 100%;
    }

    .nav-item-container a{
        margin-top: 20px;
    }
    .banner-text, .banner-img{
        width: 100%;
    } 
    .banner-text h1{
        font-size: 30px;

    }
    .banner-text p{
        font-size: 25px;

    }
    
    
}
